<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="registrationForm" (ngSubmit)="registerUser()">
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input [ngClass]="{'is-invalid': submited && registrationForm.get('email').errors, 
                        'is-valid': submited && !registrationForm.get('email').errors}" type="text"
                            class="form-control rounded-0" formControlName="email">
                        <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
                            <small *ngIf="registrationForm.get('email').errors?.required" class="text-danger">Email is
                                required</small>
                            <small *ngIf="registrationForm.get('email').errors?.pattern" class="text-danger">Email must
                                be
                                xxxx.xxxx@gmail.com</small>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input [ngClass]="{'is-invalid': submited && registrationForm.get('password').errors, 
                        'is-valid': submited && !registrationForm.get('password').errors}" type="password"
                            class="form-control" formControlName="password">
                        <div
                            *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
                            <small *ngIf="registrationForm.get('password').errors.required" class="text-danger">Password
                                is
                                required</small>
                            <small *ngIf="registrationForm.get('password').errors.pattern" class="text-danger">Password
                                must be
                                eight and different caracters</small>
                        </div>
                    </div>
                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password *</label>
                        <input [class.is-invalid]="registrationForm.errors?.misMatch" type="password"
                            class="form-control" formControlName="confirmpassword">

                        <div
                            *ngIf="registrationForm.get('confirmpassword').invalid && registrationForm.get('confirmpassword').touched">
                            <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">password
                                must match</small>
                        </div>
                    </div>
                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">Name *</label>
                        <input [ngClass]="{'is-invalid': submited && registrationForm.get('name').errors, 
                        'is-valid': submited && !registrationForm.get('name').errors}" type="text" class="form-control"
                            formControlName="name">
                        <div *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
                            <small *ngIf="registrationForm.get('name').errors.required" class="text-danger">Name
                                is
                                required</small>
                        </div>
                    </div>
                    <!-- Lastname -->
                    <div class="form-group">
                        <label for="lastname">Lastame *</label>
                        <input [ngClass]="{'is-invalid': submited && registrationForm.get('lastname').errors, 
                        'is-valid': submited && !registrationForm.get('lastname').errors}" type="text"
                            class="form-control" formControlName="lastname">
                        <div
                            *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched">
                            <small *ngIf="registrationForm.get('lastname').errors.required" class="text-danger">Lastame
                                is
                                required</small>
                        </div>
                    </div>

                    <button [disabled]="registrationForm.invalid" type="submit"
                        class="btn btn-success float-right mt-2">Sign up</button>
                    <p class="text-danger">*: Champ Obligatoire</p>
                </form>
            </div>
        </div>
    </div>
</div>